<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>todoList.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BFBD16DF91AAAA84379793C7C88DDEFF7925E4D1</string>
				<key>dateExpires</key>
				<string>2/21/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFBD16DF91AAAA84379793C7C88DDEFF7925E4D1</string>
						<key>dateExpires</key>
						<string>2/21/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7673SP667C</string>
						<key>name</key>
						<string>Vladislav Kolchuk</string>
					</dict>
					<key>versionNumber</key>
					<string>10.38.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BFBD16DF91AAAA84379793C7C88DDEFF7925E4D1</string>
						<key>dateExpires</key>
						<string>2/21/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7673SP667C</string>
						<key>name</key>
						<string>Vladislav Kolchuk</string>
					</dict>
					<key>versionNumber</key>
					<string>10.38.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7673SP667C.iapps.export</string>
				<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
				<true/>
				<key>com.apple.developer.game-center</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7673SP667C</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>todoList.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ef045e96-992e-475c-b411-bcd00f9e822f</string>
				<key>dateExpires</key>
				<string>2/21/24</string>
				<key>name</key>
				<string>iapps_provisioning_profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7673SP667C</string>
				<key>name</key>
				<string>Vladislav Kolchuk</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
